.cart-title 買い物カゴ

%table
  = render :partial => "cart_item", :collection => cart.items

  %tr.total-line
    %td 合計)
    %td.total-cell
      = number_with_delimiter(cart.total_price)
      円

= button_to "レジにすすむ", checkout_path
= form_tag({ :action => "empty_cart" }, :remote => true) do
  = submit_tag '買い物カゴを空にする'


