- @products.each do |product|
  %div.product
    = image_tag(product.image_url, :class => "photo")
    %p.name
      = product.name
    %p.description
      = simple_format(product.description)
    %div.price_line
      %span.price
        = product.price
        円
    = form_tag({ :action => "add_to_cart", :id => product }, :remote => true, :class => "order") do
      = submit_tag '買い物カゴに入れる'

= will_paginate @products
%br  

